%h1 Dashboard

%div.span10
  %p
    Welcome to Confligere! 
  %p
    This application was created to allow you to collect data on your love life for the purpose of minimizing conflict. 
  %p
    "How does that work?"
  %p 
    When I was young and naieve, I went into relationships with a lot of expectations in my head but no clear idea of how these expectations governed my actions. Worse, I had never been taught to assume ownership of my expectations, only that my prince would someday come and he would magically be able to read my mind and mood. 
  
  %p
    Yeah.

  %p
    As I celebrate the 15th anniversary of my marriage, I look back at those expectations compared to what I currently hold and how the way I interact with people has changed. These changes are the result of an ongoing process that is a combination of introspection and observation -- by collecting data and analysing it. I have learned that behaviors sort themselves into patterns, and that all of us are more subject to a mixture of context, habilitation and animal instincts than we are taught to believe. 

  %p
    "How does that relate to Confligere?"
  
  %p
    There is this prevailing wisdom that awareness is required to solve problems. It is not possible to solve problems if you are unaware of them, right? Sometimes problems are difficult to spot, even more so when we are taught to shy away from accepting blame, feeling shame in a useful way, and that in order to be loved, we must be superhuman. Yet sometimes our egos are depleted after a crappy day and we say the wrong thing. We are mean because we are tired or hungry or scared. Or we desperately need companionship in some specific form and lack the insight and vocabulary to articulate it. 
  
  %p
    If you are a list maker, you will understand the value of keeping notes for solving problems. If not, give it a try and see what happens. By keeping track of when you fight, what you fight about and how you feel, you may be able to identify patterns in your relationship that either escalate or alleviate conflict. Then you can find ways to do more of the latter, and less of the former. TK TK TK. 