%div#addEvent.modal.fade{"role" => "dialog", "aria-hidden" => "true"}   
  %div.modal-dialog
    %div.modal-content
      %div.modal-header.well
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h4.modal-title Add a new event
      %div.modal-body
        %form{:id =>"modal-form", :action => "/timeline", :method => "POST"}
          %label Title
          %input{:type => "text", :name => "event[title]"}
          %label Notes about this event
          %input{:type => "text", :name => "event[notes]"}
          %label On a scale of 1-100, rate the intensity of this event
          %input{:type => "number", :name => "event[severity]"}
          %label Was this a positive, negative or neutral event?
          %select{:name => "event[type]"}
            - %w(positive negative neutral).each do |o|
              %option{:name => o, :value => o}
                = o
          %label Date and time this event occurred
          %input{:type => "datetime", :name => "event[occurred_at]"}
          %input{:type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token}
      %div.modal-footer
        %button#event-form-submit.btn.btn-primary Save

%script $('#event-form-submit').click( function() { $('#modal-form').submit(); });
%script light_up_calendar();

%h1 
  Events in
  %span.monthname
    = @current
    
%div.span2
  %a{:href => "#", "data-toggle" => "modal", "data-target" => "#addEvent"} Add a new event

%div.span18
  %table.table-striped.calendar(cellspacing="5" cellpadding="5" id="calendar")
    %thead
      %tr    
        - @days.each do |day|
          %th.span4
            =day
    %tbody
      - 5.times do |week|
        %tr
          - 7.times do |day|
            %td
              %label.dow

  %select.pull-left{:id => "montharoo"}
    %option
      Jump to..
    - @months.each do |month|
      %option{:value => month}
        = month
    

          
          