%h1 New Journal Entry
= form_for :entry, url: {action: "create"} do |f|
  %label Title: 
  = f.text_field :title, :placeholder => "Give your entry a title...", :class => "span6"
  %label Log:
  = f.text_area :entry, :placeholder => "What's on your mind?", :class => "span6", :rows => "20"
  %br
  = f.submit
  