%div.span10
  %div.span2
    %p
      Although expectations define us, we are often unaware that our own ideals have on our relationship. Honestly and accurately stating your goals and routinely revisiting, reviewing and revising them is all part of the introspective process. 
    %p 
      For example, if you expect your SO to take out the garbage, but you never ask, you are effectively asking the person you love most in the whole world to read your mind. Be glad [s]he can't.
  %div.span6
    %form.new_expectation{:method => "POST", :action => "/account/update"}
      %p
        %label
          Provide a brief summary of your expectation:
        %input{:type => :text_field}
      %p
        %label 
          On a scale of 1-100, rate how important this expectation is to you:
        %input{:type => :number_field}
      %p.button
        %input{:type => :submit, :value => "Save"}
