:javascript
  function dothat(part) {
    $("#likethis").load("/user/" + part);
  }
  
%h1 
  Personal Data

%ul.nav.nav-tabs
  %li.active
    %a{:href => "#", "data-toggle" => "tab", :onclick => "dothat('basic'); return false"} Account Settings 
  %li
    %a{:href => "#", "data-toggle" => "tab", :onclick => "dothat('password'); return false"} Change Password
  %li
    %a{:href => "#", "data-toggle" => "tab", :onclick => "dothat('personal'); return false"} About You
  %li
    %a{:href => "#", "data-toggle" => "tab", :onclick => "dothat('expectations'); return false"} Expectations
  %li
    %a{:href => "#", "data-toggle" => "tab", :onclick => "dothat('relationships'); return false"} Relationships

      
%div#likethis
  = render :partial => "basic"
