%h1 Sign Up

%form{:action => "/user/create", :method => "POST"}
  %label First Name
  %input{:type => "text", :name => "user[first_name]"}
  %label Last Name
  %input{:type => "text", :name => "user[last_name]"}
  %label Email address
  %input{:type => "text", :name => "user[email]"}
  %label Desired username
  %input{:type => "text", :name => "user[username]"}
  %label Password
  %input{:type => "password", :name => "user[password]"}
  %label Confirm Password
  %input{:type => "password", :name => "user[password_confirmation]"}
  %p.button
    %input{:type => "submit"}
  %p
    Already have an account?
    %a{:href => "/login"} Click here to log in.
