$main-color: #1E7B12;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.dow {
  font: 10px arial, sans-serif;
  margin: 2px;
  position: relative;
  top: -9px;
}

.calendar {
    border-collapse: separate;
    border-spacing: 0 5px;
}